# {{ ansible_managed }}
Host *.{{ ansible_domain }}
    GSSAPIDelegateCredentials yes

{% if enable_onion_support or use_tor_proxy %}
{% if use_tor_proxy %}
Host *
{% else %}
Host *.onion
{% endif %}
    ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=9050
{% endif %}
